In [12]:
#import libraries
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [13]:
df = pd.read_csv('./Data/Last_year.csv', parse_dates=['date'])

In [14]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>Year</th>
      <th>Month</th>
      <th>Day</th>
      <th>cost</th>
      <th>clicks</th>
      <th>cpc</th>
      <th>num_kw</th>
      <th>searches</th>
      <th>conv</th>
      <th>...</th>
      <th>.9</th>
      <th>.10</th>
      <th>.11</th>
      <th>.12</th>
      <th>.13</th>
      <th>.14</th>
      <th>.15</th>
      <th>.16</th>
      <th>.17</th>
      <th>.18</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2017-12-19</td>
      <td>2017</td>
      <td>12</td>
      <td>19</td>
      <td>7219.519994</td>
      <td>10627</td>
      <td>0.679356</td>
      <td>99286</td>
      <td>331567.497601</td>
      <td>122</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2017-12-20</td>
      <td>2017</td>
      <td>12</td>
      <td>20</td>
      <td>8242.319990</td>
      <td>11447</td>
      <td>0.720042</td>
      <td>97854</td>
      <td>320144.680961</td>
      <td>136</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2017-12-21</td>
      <td>2017</td>
      <td>12</td>
      <td>21</td>
      <td>7968.239991</td>
      <td>10775</td>
      <td>0.739512</td>
      <td>93688</td>
      <td>304643.467821</td>
      <td>125</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2017-12-22</td>
      <td>2017</td>
      <td>12</td>
      <td>22</td>
      <td>5952.889999</td>
      <td>8220</td>
      <td>0.724196</td>
      <td>78269</td>
      <td>262726.741308</td>
      <td>123</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017-12-23</td>
      <td>2017</td>
      <td>12</td>
      <td>23</td>
      <td>4283.449997</td>
      <td>6119</td>
      <td>0.700025</td>
      <td>58380</td>
      <td>193867.167840</td>
      <td>76</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 29 columns</p>
</div>

In [15]:
def plot_daily_hourly_metrics(df, xcol_name='date', metrics=None):
    fig, ax1 = plt.subplots()
    ax1.plot(df[xcol_name], df[metrics])
    ax1.set_xlabel('Year Month_day')
    ax1.set_ylabel(metrics)
    days = mdates.DayLocator(interval=15)   # every day
    months = mdates.MonthLocator(interval=3)
    years = mdates.YearLocator()# every 2 months
    daysFmt = mdates.DateFormatter('%b %d')
    yearsFmt = mdates.DateFormatter('%Y')
    
    ax1.xaxis.set_major_locator(years)
    ax1.xaxis.set_major_formatter(yearsFmt)
    ax1.xaxis.set_minor_locator(days)
    ax1.xaxis.set_minor_formatter(daysFmt)
        
    datemin = np.datetime64(df[xcol_name].iloc[0])
    datemax = np.datetime64(df[xcol_name].iloc[-1])
    ax1.set_xlim(datemin, datemax)
    
    plt.tick_params(axis='x', which='minor', labelsize=10, labelrotation=45, length=3)
    plt.tick_params(axis='x', which='major', labelsize=15, labelrotation=45, length=10)
    
    fig.set_size_inches(18.5, 10.5, forward=True)
    fig.suptitle(metrics, fontsize=16)
    plt.legend(metrics)
    plt.show()

In [16]:
plot_daily_hourly_metrics(df, xcol_name='date', metrics='cost')

In [17]:
plot_daily_hourly_metrics(df, xcol_name='date', metrics='clicks')

In [18]:
plot_daily_hourly_metrics(df, xcol_name='date', metrics='conv')

In [19]:
plot_daily_hourly_metrics(df, xcol_name='date', metrics='searches')